#loader {
  width: 100px;
  height: 100px;
  /* border: 7px solid rgb(188, 183, 183); */
  border: 7px solid #c89666;

  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1.5s linear infinite;
  /* position: absolute;
  top: 40%;
  right: 50%; */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: block;
  width: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header div {
  display: flex;
  align-items: center;
}

.header p {
  color: #c89666;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 10px;
}

.header span {
  display: inline-block;
  background-color: #c89666;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #12343b;
  border-radius: 4px;
}

#question-box {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: #4f535f;
  font-size: 25px;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 0px 0 30px 0;
}

.answer-text {
  background-color: #fff;
  border: none;
  margin-bottom: 10px;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: left;
  cursor: pointer;
  border: 2px solid #fff;
  transition: all 0.2s ease-in;
}

.answer-text:hover {
  background-color: #607bc7;
  border: 2px solid #607bc7;
}

#next-button,
#finish-button {
  color: #4f535f;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 15px;
  margin: 20px 20px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
#next-button:hover,
#finish-button:hover {
  background-color: #4f535f;
  color: white;
}
