h1 {
  color: #c89666;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
}

a {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px 40px;
  font-size: 2rem;
  color: #4f535f;
  border-radius: 20px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #4f535f;
  color: #fff;
}
